.update{
    display: block;
    width: 400px;
    height: 345px;
    background-color: black;
    opacity: 0.75;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 1%;
    border-style: none;
 
    margin-right: 10px;
 } 
.create{
   display: block;
   width: 400px;
   height: 235px;
   background-color: black;
   opacity: 0.75;
   color: white;
   font-family: 'Courier New', Courier, monospace;
   border-radius: 1%;
   border-style: none;

   margin-right: 10px;
} 
 .create{
    visibility: none;
} 
table{
    padding: 0px 50px;
    border-spacing: 7px;
    text-align: center;
}
